* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

section {
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;

  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  box-sizing: border-box;

  z-index: 9999;

  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 170px;
}

nav {
  display: flex;

  gap: 35px;
}

nav a {
  text-decoration: none;

  color: #0b74d8;

  font-weight: bold;
}

nav a:hover {
  color: #003d80;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
.about-banner {
  height: 350px;

  background: url(../img/banner_gioithieu.jpg) center center;

  background-size: cover;
}
.about-container .banner-left h1 {
  padding-top: 20px;
}
.overlay {
  width: 100%;

  height: 100%;

  background: rgba(0, 40, 90, 0.55);
}

.about-container {
  width: 100%;
  max-width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.title h2 {
  text-align: center;
  font-size: 40px;
  color: #0d88e6;
}
.title p {
  padding: 20px;
  text-align: center;
}
.service-list {
  padding: 50px 0;
}
.service-list .title {
  padding-bottom: 30px;
}

.service-grid {
  width: 100%;
  max-width: 100%;
  max-width: 1200px;

  margin: auto;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
}
.service-grid a {
  color: black;
  text-decoration: none;
}
.service-card {
  background: white;

  padding: 35px;

  border-radius: 12px;

  text-align: center;

  transition: 0.3s;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.service-card:hover {
  background: #0b74d8;

  color: white;

  transform: translateY(-8px);
}

.service-card i {
  font-size: 60px;

  color: #0b74d8;

  margin-bottom: 20px;
}

.service-card:hover i {
  color: white;
}
.workflow {
  padding: 80px 0;

  background: #f5f8fc;
}
.workflow h2 {
  padding: 20px;
  margin-bottom: 20px;
}

.steps {
  width: 100%;
  max-width: 100%;
  max-width: 1200px;

  margin: auto;

  display: flex;

  justify-content: space-between;
}

.step {
  width: 180px;

  text-align: center;
}

.step span {
  width: 70px;

  height: 70px;

  background: #0b74d8;

  color: white;

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 30px;

  margin: auto;
}
.step h3 {
  margin: 20px;
}
footer {
  width: 100%;
}
.footer-top {
  background: #0d2b43;

  color: white;

  display: flex;

  justify-content: space-between;

  padding: 60px 70px;
}

.footer-left {
  width: 48%;
}

.footer-left h2 {
  color: #0d88e6;

  margin-bottom: 30px;

  font-size: 18px;
}

.footer-left p {
  font-size: 15px;

  line-height: 2.2;

  font-style: italic;
}

.footer-left strong {
  color: white;
}

.footer-left a {
  color: #28a5ff;

  text-decoration: none;
}

.footer-right {
  width: 48%;
}

.service-box {
  background: #0b74d8;

  padding: 15px 40px;

  margin-bottom: 18px;

  font-size: 12px;

  font-weight: bold;

  transition: 0.3s;
}
.service-box a {
  color: white;
  text-decoration: none;
}
.service-box:hover {
  background: #0d88e6;

  cursor: pointer;
}

.footer-bottom {
  background: white;

  text-align: center;

  padding: 40px 0;
}

.footer-bottom img {
  width: 420px;
}
.footer-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom p {
  color: rgb(151, 151, 151);
  margin-top: 20px;
}
.footer-bottom a {
  text-decoration: none;
  color: #0d88e6;
}
.top {
  position: fixed;

  right: 30px;

  bottom: 30px;

  width: 55px;

  height: 55px;

  background: #0b74d8;

  color: white;

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  text-decoration: none;

  font-size: 22px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.hidden {
  opacity: 0;

  transform: translateY(80px);

  transition: 1s;
}

.show {
  opacity: 1;

  transform: translateY(0);
}
