/* ==========================================
            <=1200px
========================================== */

@media (max-width: 1200px) {
  .container,
  .news-container {
    width: 95%;
  }

  .features {
    padding: 40px;
  }

  .contact {
    padding: 60px 30px;
  }
}

/* ==========================================
            <=992px
========================================== */

@media (max-width: 992px) {
  header {
    padding: 0 20px;
  }

  .logo img {
    width: 150px;
  }

  .menu-icon {
    display: block;
    font-size: 32px;
  }

  /* MENU */

  nav {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 260px;
    height: calc(100vh - 60px);
    background: #fff;
    display: flex;
    flex-direction: column;
    transition: 0.35s;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.15);
    z-index: 9999;
  }

  nav.active {
    right: 0;
  }

  nav a {
    padding: 18px 25px;
    border-bottom: 1px solid #eee;
  }

  /* SLIDER */

  .slider {
    height: 500px;
  }

  .banner1,
  .banner2,
  .banner3 {
    left: 8%;
    width: 55%;
  }

  .banner2 {
    left: 45%;
  }

  .banner1 h1,
  .banner2 h1,
  .banner3 h1 {
    font-size: 36px;
  }

  .banner1 p,
  .banner2 p,
  .banner3 p {
    font-size: 18px;
    line-height: 1.6;
  }

  .banner-btn {
    padding: 12px 25px;
    font-size: 15px;
  }

  .prev,
  .next {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
  /* FEATURES */

  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ABOUT */

  .container {
    flex-direction: column;
  }

  .left-content {
    width: 100%;
  }

  aside {
    position: static;
    width: 100%;
  }

  /* SERVICE */

  .service {
    grid-template-columns: repeat(2, 1fr);
  }

  /* NEWS */

  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* COUNTER */

  .counter {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* CONTACT */

  .contact {
    grid-template-columns: 1fr;
  }

  .contact iframe {
    min-height: 350px;
  }

  /* FOOTER */

  .footer-top {
    flex-direction: column;
    gap: 35px;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-bottom img {
    width: 300px;
  }
}

/* ==========================================
            <=768px
========================================== */

@media (max-width: 768px) {
  .slider {
    height: 100px;
  }

  .slide img {
    object-fit: cover;
  }

  .banner1,
  .banner2,
  .banner3 {
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 90%;

    text-align: center;
  }

  .banner2 {
    left: 50%;
  }

  .banner1 h1,
  .banner2 h1,
  .banner3 h1 {
    font-size: 30px;
    margin-bottom: 18px;
  }

  .banner1 p,
  .banner2 p,
  .banner3 p {
    font-size: 17px;
    margin-bottom: 25px;
  }

  .banner-btn {
    padding: 12px 28px;
    font-size: 15px;
  }

  .prev {
    left: 12px;
  }

  .next {
    right: 12px;
  }

  .prev,
  .next {
    width: 42px;
    height: 42px;
    font-size: 22px;
  }

  .dots {
    bottom: 15px;
  }
  .features {
    grid-template-columns: 1fr;
    padding: 30px 20px;
  }

  .feature {
    align-items: center;
  }
}

/* ==========================================
            <=576px
========================================== */

@media (max-width: 576px) {
  header {
    padding: 0 15px;
  }

  .logo img {
    width: 120px;
  }

  /* Banner */

  .banner1 h1,
  .banner2 h1,
  .banner3 h1 {
    font-size: 17px;
  }

  .banner1 p,
  .banner2 p,
  .banner3 p {
    display: none;
  }

  /* Arrow */

  .prev,
  .next {
    display: none;
  }

  /* Dots */

  .dot {
    width: 12px;
    height: 12px;
  }

  /* Feature */

  .features {
    padding: 25px 15px;
  }

  .feature h3 {
    font-size: 18px;
  }

  .feature p {
    font-size: 14px;
  }

  /* About */

  .left-content h2 {
    font-size: 22px;
  }

  .left-content p {
    font-size: 15px;
    line-height: 28px;
  }

  /* Footer */

  .footer-left h2 {
    font-size: 16px;
  }

  .footer-left p {
    font-size: 13px;
  }

  .footer-bottom img {
    width: 200px;
  }

  .service-box {
    padding: 12px;
    font-size: 13px;
  }

  /* Back to top */

  .top {
    width: 45px;
    height: 45px;

    right: 15px;
    bottom: 15px;
  }
}

/* ==========================================
            <=400px
========================================== */

@media (max-width: 400px) {
  .logo img {
    width: 110px;
  }

  .banner1 h1,
  .banner2 h1,
  .banner3 h1 {
    font-size: 15px;
  }

  .title h2 {
    font-size: 24px;
  }

  .left-content p {
    font-size: 14px;
  }

  .footer-bottom img {
    width: 180px;
  }
}
