/* ==========================
        <=1200px
========================== */

@media (max-width: 1200px) {
  .container,
  .news-container {
    width: 95%;
  }

  .features {
    padding: 40px;
  }

  .contact {
    padding: 60px 30px;
  }
}

/* ==========================
        <=992px
========================== */

@media (max-width: 992px) {
  header {
    padding: 0 20px;
  }

  .logo img {
    width: 150px;
  }

  .menu-icon {
    display: block;
  }

  /* MENU */

  nav {
    position: absolute;
    top: 60px;
    right: -100%;

    width: 260px;

    background: #fff;

    display: flex;
    flex-direction: column;

    transition: 0.4s;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }

  nav.active {
    right: 0;
  }

  nav a {
    padding: 18px 25px;
    border-bottom: 1px solid #eee;
  }

  /* Banner */

  .slider {
    height: 300px;
  }

  .slide img {
    height: 300px;
  }

  .banner1,
  .banner2,
  .banner3 {
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
  }

  .banner1 h1,
  .banner2 h1,
  .banner3 h1 {
    font-size: 26px;
  }

  .banner1 p,
  .banner2 p,
  .banner3 p {
    font-size: 17px;
  }

  /* Feature */

  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  /* About */

  .container {
    flex-direction: column;
  }

  .left-content {
    width: 100%;
  }

  aside {
    position: static;
    width: 100%;
  }

  /* Service */

  .service {
    grid-template-columns: repeat(2, 1fr);
  }

  /* News */

  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Counter */

  .counter {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  /* Contact */

  .contact {
    grid-template-columns: 1fr;
  }

  .contact iframe {
    min-height: 350px;
  }

  /* Footer */

  .footer-top {
    flex-direction: column;
    gap: 35px;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-bottom img {
    width: 320px;
  }
}

/* ==========================
        <=768px
========================== */

@media (max-width: 768px) {
  body {
    padding-top: 60px;
  }

  .logo img {
    width: 140px;
  }

  /* Slider */

  .slider {
    height: 220px;
  }

  .slide img {
    height: 220px;
  }

  .banner1 h1,
  .banner2 h1,
  .banner3 h1 {
    font-size: 20px;
  }

  .banner1 p,
  .banner2 p,
  .banner3 p {
    font-size: 14px;
    margin: 10px 0;
  }

  .prev,
  .next {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  /* Features */

  .features {
    grid-template-columns: 1fr;
  }

  /* Services */

  .service-grid {
    grid-template-columns: 1fr;
  }

  .box {
    padding: 25px;
  }

  .title h2 {
    font-size: 30px;
  }
  .features-grid {
    grid-template-columns: 1fr;
  }
  .product-grid {
    grid-template-columns: 1fr;
  }
  .process {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* News */
  .featured-news {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    transition: 0.35s;
    margin-bottom: 50px;
  }

  .news-grid {
    grid-template-columns: 1fr;
  }
  .news-container {
    grid-template-columns: 1fr;
  }
  .article-container {
    grid-template-columns: 1fr;
  }
  .article-container h1 {
    font-size: 30px;
    text-align: justify;
  }
  /* ===== Trang chi tiết dịch vụ ===== */

  .service-container,
  .service-content,
  .service-detail,
  .detail-container,
  .content-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .service-left,
  .service-right,
  .detail-left,
  .detail-right,
  .content-left,
  .content-right {
    width: 100%;
    max-width: 100%;
  }

  .service-left img,
  .detail-left img,
  .content-left img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
  }

  .service-right h1,
  .detail-right h1,
  .content-right h1 {
    font-size: 34px;
    line-height: 1.3;
    text-align: center;

    word-break: normal;
    overflow-wrap: break-word;
  }

  .service-right p,
  .detail-right p,
  .content-right p {
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
  }
  /* Counter */

  .counter {
    grid-template-columns: 1fr;
  }

  /* Contact */
  .info-grid {
    grid-template-columns: 1fr;
  }
  .contact {
    padding: 40px 20px;
  }

  /* Footer */

  .footer-top {
    padding: 40px 20px;
  }

  .footer-bottom img {
    width: 250px;
  }
}

/* ==========================
        <=576px
========================== */

@media (max-width: 576px) {
  header {
    padding: 0 15px;
  }

  .logo img {
    width: 120px;
  }

  .banner1 h1,
  .banner2 h1,
  .banner3 h1 {
    font-size: 18px;
  }

  .banner1 p,
  .banner2 p,
  .banner3 p {
    display: none;
  }
  .banner-left p {
    padding-top: -20px;
    line-height: 30px;
  }
  .prev,
  .next {
    display: none;
  }

  .features {
    padding: 25px 15px;
  }

  .left-content h2 {
    font-size: 22px;
  }

  .left-content p {
    font-size: 15px;
    line-height: 28px;
  }

  .footer-left h2 {
    font-size: 16px;
  }

  .footer-left p {
    font-size: 13px;
  }

  .footer-bottom img {
    width: 220px;
  }

  .service-box {
    padding: 12px;
    font-size: 13px;
  }

  .top {
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 15px;
  }
}

/* ==========================
        <=400px
========================== */

@media (max-width: 400px) {
  .logo img {
    width: 110px;
  }

  .banner1 h1,
  .banner2 h1,
  .banner3 h1 {
    font-size: 16px;
  }

  .title h2 {
    font-size: 24px;
  }

  .left-content p {
    font-size: 14px;
  }

  .footer-bottom img {
    width: 180px;
  }
}
